{% extends 'base.html' %}
{% load static %}

{% block title %}Employee{% endblock %}

{% block content %}
    <h2>Employee</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for i in e %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.department }}</td>
                    <td>{{ i.email }}</td>
                    <td><a href="{% url 'employee:get_emp' i.id %}" class="btn btn-danger">VIEW</a></td>
                    <td><a href="{% url 'employee:edit' i.id %}" class="btn btn-danger">EDIT</a></td>
                    <td><a href="{% url 'employee:delete' i.id %}" class="btn btn-danger">DELETE</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
